.featured-projects {
  margin-left: -15%;
  @include thirteen {
    margin-left: -10%;
  }
  @include desktop {
    margin-left: -5%;
  }
  @include tablet {
    margin-left: 0;
  }

  a:after {
    display: none;
  }
  .project {
    display: flex;
    margin-bottom: 80px;
    margin-left: -10%;
    width: 150%;
    @include thirteen {
      width: 115%;
    }
    @include desktop {
      margin-left: -5%;
      width: 105%;
    }
    @include tablet {
      width: 100%;
      display: block;
      margin-left: 0;
      margin-bottom: 70px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &__pic {
      max-width: 600px;
      margin-left: 0;
      overflow: visible;
      a {
        display: block;
      }
      img {
        width: 100%;
        max-width:100%;
        vertical-align: bottom;
      }
      video {
        width: 100%;
        max-width: 100%;
        margin-top: -1.5%;
        vertical-align: bottom;
      }
    }
    &__caption {
      width: 450px;
      flex-shrink: 0.75;
      @include tablet {
        width: 100%;
        margin-top: 25px;
        margin-left: 0;
      }
    }
    &__name {
      margin-bottom: 10px;
      a {
        font-weight: 700;
      }
    }
    p {
      font-size: 0.85rem;
      line-height: 1.3;
    }
  }
}
