<section class="section background">
  <div class="section__title">Summary</div>
  <div class="section__content">
    <p>
      I'm currently a student at <a class="underline-link" href="https://www.digipen.edu.sg/academics/computer-science-degrees/bs-in-computer-science-in-interactive-media-and-game-development" target="_blank">DigiPen Institute of Technology Singapore</a>, currently studying Interactive Media and Game Development.
      More soon.
    </p>

    <p>
      More soon &mdash; 
    </p>

    <p>
      <strong>More soon</strong>
    </p>
  </div>
</section>
