<section class="section background">
  <div class="section__title">Summary</div>
  <div class="section__content">
    <p>
      I'm currently a student at <a class="underline-link" href="https://www.digipen.edu.sg/academics/computer-science-degrees/bs-in-computer-science-in-interactive-media-and-game-development" target="_blank">DigiPen Institute of Technology Singapore</a>, currently studying Interactive Media and Game Development.
    </p>

    <p>
      As an intern at Kettle Gourmet, I was part of a pioneer team to create games from the ground up. This includes creating the company accounts for Google and Apple, creating accounts on GitHub for version control, and learning the process and requirements of uploading to the Google Play store and iOS App store.
    </p>

    <p>
      During my diploma studies, I have used Unity 2D & 3D, Autodesk Maya and Adobe software to design,
      model and script games and released some games on the Google Play store. 
    </p>

    <p>
      During my free time, I join online game jams regularly hosted on the website Itch.io, especially during the holidays. So far I have submitted over 12 games in various game jams and was one of the top 3 winners in some of them.
    </p>

    <figure class="digipen">
      <img src="{{site.baseurl}}/img/digipen.png" alt="">
      <figcaption class="caption">Nintendo trip for achieving the fastest A* Pathfinding algorithm in Steve Rabin's CS380 course in Digipen.</figcaption>
    </figure>
  </div>
</section>
