<section class="section featured-projects">
  <div class="section__title">Game Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <!-- <a href="https://blistabloc.com/" target="_blank"> -->
          <video autoplay loop muted playsinline>
            <source src="{{site.baseurl}}/img/games/Thumb_PurrfectPutt.webm" type="video/webm">
          </video>
        <!-- </a> -->
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <!-- <a href="https://blistabloc.com/" target="_blank">Purrfect Putt!!</a> -->
          <a>Purrfect Putt!!</a>
        </div>
        <p>Purrfect Putt!! is a golf action game where the player uses their magical golf club to beat enemies and win the tournament. 
          This was a 6 month school project to create a 2D game in our own custome engine. I was the technical lead of a team 6 programmers.</p>
        <p>I was in charge of:</p>
        <ul>
          <li>Designing and integrating the system and component classes.</li>
          <li>Core systems such as, Input, Logging, Memory, and Profiling.</li>
          <li>An animation system with keyframes, groups, and states.</li>
          <li>A spritesheet system for character animation and level building.</li>
          <li>A C++ scripting system and its script component.</li>
          <li>Adding polish to the game through animations and other VFX.</li>
          <li>Fixing critical errors and testing code (e.g. memory leaks)</li>
        </ul>
        <div class="project__used">
          <span class="project__used__item">Custom Engine</span>
          <span class="project__used__item">Team of 7</span>
          <span class="project__used__item">C++</span>
          <span class="project__used__item">Premake</span>
          <span class="project__used__item">Github</span>
          <span class="project__used__item">Windows</span>
        </div>
        </figcaption>
      </div>
      
      <div class="project">
        <figure class="project__pic">
          <!-- <a href="https://blistabloc.com/" target="_blank"> -->
            <video autoplay loop muted playsinline>
              <source src="{{site.baseurl}}/img/games/Thumb_DSMS.webm" type="video/webm">
            </video>
          <!-- </a> -->
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <!-- <a href="https://interventions.design/" target="_blank">DSMS</a> -->
            <a>Disaster Strikes, Mercy Saves!</a>
          </div>
          <p>Disaster Strikes, Mercy Saves! or DSMS is a 1 hour cooperative game in Minecraft where 1+ players work together to rescue various regions affected by natural disasters.
            This project was completed over 2 years on the weekends during my National Service.
          </p>
          <p>I was the programmer of the team and taught myself how to use the command blocks and functions system in java for Minecraft. I was also in charge of:</p>
          <ul>
            <li>Designing and iterating mockups of the level using Photoshop.</li>
            <li>Building the map with references on Google Maps to make the area feel detailed and realistic.</li>
            <li>Designing and coding seven mini-game rescue missions.</li>
            <li>Coding the scoring system and the mission HUD.</li>
            <li>Running over 8 playtests and implementing feedback.</li>
            <li>Filming and editting the game's trailer and promotional material.</li>
          </ul>
          <div class="project__used">
            <span class="project__used__item">Personal</span>
            <span class="project__used__item">Minecraft</span>
            <span class="project__used__item">Team of 3</span>
            <span class="project__used__item">McFunctions</span>
            <span class="project__used__item">Figma</span>
            <span class="project__used__item">Photoshop</span>
            <span class="project__used__item">Capcut</span>
          </div>
        </figcaption>
      </div>

    <div class="project">
      <figure class="project__pic">
        <!-- <a href="https://blistabloc.com/" target="_blank"> -->
          <video autoplay loop muted playsinline>
            <source src="{{site.baseurl}}/img/games/Thumb_MallMogul.webm" type="video/webm">
          </video>
        <!-- </a> -->
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <!-- <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">Mall Mogul</a> -->
          <a>Mall Mogul</a>
        </div>
        <p>Mall Mogul is a mobile idle incremental mall management game. The game features SMEs partners around Singapore integrated into the game as various shops or pop-up stands around the mall. 
          This was my 4 month internship project in Polytechnic, where I was the programmer in a team of 5 people.</p>
        <p>I was in charge of:</p>
        <ul>
          <li>Using excel to design and balance the game's core loop.</li>
          <li>Creating the level around the mall with a Singaporean theme.</li>
          <li>Implementing a car AI system to simulate basic traffic around the mall to make it more lively.</li>
          <li>Implementing the shop items and upgrading mechanics.</li>
          <li>Implementing the game's in-app monetization system.</li>
          <li>Publishing the game on the Play Store and App Store.</li>
        </ul>
        <div class="project__used">
          <span class="project__used__item">Internship</span>
          <span class="project__used__item">Unity 3D</span>
          <span class="project__used__item">Team of 6</span>
          <span class="project__used__item">C#</span>
          <span class="project__used__item">Github</span>
          <span class="project__used__item">Android</span>
          <span class="project__used__item">iOS</span>
          <span class="project__used__item">Excel</span>
        </div>
      </figcaption>
    </div>
    
    <div class="project">
      <figure class="project__pic">
        <!-- <a href="https://blistabloc.com/" target="_blank"> -->
          <video autoplay loop muted playsinline>
            <source src="{{site.baseurl}}/img/games/Thumb_NeoHorizon.webm" type="video/webm">
          </video>
        <!-- </a> -->
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <!-- <a href="https://interventions.design/" target="_blank">Neo Horizon</a> -->
          <a>Neo Horizon</a>
        </div>
        <p>Neo Horizon is an 80s era style arcade game inspired by Tetris and Arkanoid. This game was completed in 3 days for the ScoreSpace x Polycade Game Jam.
          As a reward for winning top 3 in the game jam, the game was played live in a few bars in the United States and by the CEO of the Polycade company.
        </p>
        <p>I was the programmer and designer of the team of two people, and I was in charge of:</p>
        <ul>
          <li>Brainstorming different game ideas relating to the theme "The 80's".</li>
          <li>Implementing the block spawning and shooting systems.</li>
          <li>Creating the game's highscore and naming setting UI / system.</li>
          <li>Adding controller support for the game to be compatible with Polycade machines.</li>
          <li>Implementing the game's level generation and difficulty curve.</li>
        </ul>
        <div class="project__used">
          <span class="project__used__item">Game Jam</span>
          <span class="project__used__item">Won 2nd Place</span>
          <span class="project__used__item">Unity 2D</span>
          <span class="project__used__item">Duo</span>
          <span class="project__used__item">C#</span>
          <span class="project__used__item">Windows</span>
          <span class="project__used__item">Linux</span>
          <span class="project__used__item">WebGL</span>
        </div>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <!-- <a href="https://blistabloc.com/" target="_blank"> -->
          <video autoplay loop muted playsinline>
            <source src="{{site.baseurl}}/img/games/Thumb_Flow.webm" type="video/webm">
          </video>
        <!-- </a> -->
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <!-- <a href="https://interventions.design/" target="_blank">Flow</a> -->
          <a>Flow</a>
        </div>
        <p>Flow is a focus application with a corn theme to promote a popcorn company. This was a 1 month project during my Polytechnic internship where I was the programmer in a team of 2 people.</p>
        <p>I was in charge of:</p>
        <ul>
          <li>Implementing timer & music systems during the focus.</li>
          <li>Implementing all the UI, such as the calendar and corn farm.</li>
          <li>Implementing the save/load and time tracking systems for corns planted.</li>
          <li>Implementing the game's shop monetization system.</li>
          <li>Publishing the game on the Play Store and App Store.</li>
        </ul>
        <div class="project__used">
          <span class="project__used__item">Internship</span>
          <span class="project__used__item">Unity 2D</span>
          <span class="project__used__item">Duo</span>
          <span class="project__used__item">C#</span>
          <span class="project__used__item">Android</span>
          <span class="project__used__item">iOS</span>
        </div>
      </figcaption>
    </div>
  </div>
</section>
