<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project 1">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <video autoplay loop muted playsinline>
            <source src="{{site.baseurl}}/img/games/Thumb_PurrfectPutt.webm" type="video/webm">
          </video>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://blistabloc.com/" target="_blank">Purrfect Putt!!</a>
        </div>
        <p>Desc.</p>
        </figcaption>
      </div>
      
      <div class="project 4">
        <figure class="project__pic">
          <a href="https://blistabloc.com/" target="_blank">
            <video autoplay loop muted playsinline>
              <source src="{{site.baseurl}}/img/games/Thumb_DSMS.webm" type="video/webm">
            </video>
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://interventions.design/" target="_blank">DSMS</a>
          </div>
          <p>Desc.</p>
        </figcaption>
      </div>

    <div class="project 2">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <video autoplay loop muted playsinline>
            <source src="{{site.baseurl}}/img/games/Thumb_MallMogul.webm" type="video/webm">
          </video>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">Mall Mogul</a>
        </div>
        <p>Desc.</p>
      </figcaption>
    </div>
    
    <div class="project 5">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <video autoplay loop muted playsinline>
            <source src="{{site.baseurl}}/img/games/Thumb_NeoHorizon.webm" type="video/webm">
          </video>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Neo Horizon</a>
        </div>
        <p>Desc.</p>
      </figcaption>
    </div>

    <div class="project 3">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <video autoplay loop muted playsinline>
            <source src="{{site.baseurl}}/img/games/Thumb_Flow.webm" type="video/webm">
          </video>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Flow</a>
        </div>
        <p>Desc.</p>
      </figcaption>
    </div>
  </div>
</section>
